In [4]:
import pandas as pd

In [6]:
dic = {
    "Name":["Noman",'Ali','Umair',"Ahmed"],
    "Marks":[87,88,90,78]
}

df = pd.DataFrame(dic)

df

    Name  Marks
0  Noman     87
1    Ali     88
2  Umair     90
3  Ahmed     78

In [7]:
df.to_csv('marks.csv')